@model Model.Models.Book
@using Model.Resources;
@{
    ViewBag.Title = "Edit Book";
}
<script async src="~/Assets/js/editbookjs.js"></script>
<div class="container-fluid notranslate">
    <h3 class="mt-4">@BookLG.EditBook</h3>
    <hr />
    <DIV class="col-md-auto">
        <form class="needs-validation" novalidate method="post" action="javascript:editBook();">
            @Html.HiddenFor(m => m.BookID)
            @Html.HiddenFor(m => m.CreatedDate)
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Title</strong>
                </div>
                <div class="form-group col-lg-10">
                    <input type="text" class="form-control" name="title" id="Title" required pattern=".{3,50}" value="@Model.Title" />
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.ValTitle</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>ISBN</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control", @required = "@required", @pattern = ".{5,15}" })
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.Valisbn</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Summary</strong>
                </div>
                <div class="form-group col-lg-10">
                    <textarea type="text" class="form-control" rows="6" name="Description" id="Description" required>@Model.Description</textarea>
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.ValSum</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.CategoryName</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.DropDownListFor(m => m.CategoryID, ViewBag.Categories as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Author</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.DropDownListFor(m => m.AuthorID, ViewBag.Authors as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Publisher</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.DropDownListFor(m => m.PublisherID, ViewBag.Publishers as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Price</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @required = "required", @pattern = "^[1-9]{1}[0-9]{0,9}$" })
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.ValPrice</div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Quantity</strong>
                </div>
                <div class="form-group col-lg-10">
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @required = "required", @pattern = "^[1-9]{1}[0-9]{0,5}$" })
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.ValQuantity</div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <strong>@BookLG.Url</strong>
                </div>
                <div class="form-group col-lg-4">
                    @Html.TextBoxFor(m => m.Picture, new { @type = "file", @class = "form-control", @accept = ".png,.jpg", @value = Model.Picture })
                    <div class="valid-feedback">@BookLG.Valid.</div>
                    <div class="invalid-feedback">@BookLG.ValUrl</div>
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <img src="@Model.Picture" class="img-thumbnail" alt="Image Book: @Model.Title" height="50" />
                </div>
            </div>
            <button type="submit" class="btn btn-success offset-lg-2">@BookLG.Save</button>
            <button type="reset" class="btn btn-outline-secondary">@BookLG.Reset</button>
        </form>

    </DIV>
    <div>
        <a href="#" id="back-to-list-book" title="Back To List">@BookLG.Back</a>
    </div>
    <p></p>
    <p></p>
</div>
